<%= render 'shared/error', object: resource %>

<h5 class="title">Edit Information</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="form-group row">
    <lable class="col-sm-4 lable-control"><span class="require">*</span> Email:</lable>
    <div class="col-sm-5">
      <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group row">
    <lable class="col-sm-4 lable-control"><span class="require">*</span> Username:</lable>
    <div class="col-sm-5">
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <lable class="col-sm-4 lable-control"><span class="require">*</span> Fullname:</lable>
    <div class="col-sm-5">
      <%= f.text_field :fullname, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <lable class="col-sm-4 lable-control">Address:</lable>
    <div class="col-sm-5">
      <%= f.text_area :address, class: "form-control"%>
    </div>
  </div>

  <div class="form-group row">
    <lable class="col-sm-4 lable-control">Phone:</lable>
    <div class="col-sm-5">
      <%= f.text_field :phone, class: "form-control"%>
    </div>
  </div>



  <h5>User Password</h5>

  <div class="form-group row">
    <lable class="col-sm-4 lable-control">Password</lable> 
    <div class="col-sm-5">
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      <i>(leave blank if you don't want to change it)</i>
    </div>

  </div>

  <div class="form-group row">
    <lable class="col-sm-4 lable-control">Password confirmation:</lable>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group row">
    <lable class="col-sm-4 lable-control"><span class="require">*</span>Current Password</lable> 
    <div class="col-sm-5">
      <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
      <i>(we need your current password to confirm your changes)</i>
    </div>

  </div>

  <div class="row">
    <div class="actions col-sm-2 offset-sm-7">
      <%= f.submit "Update", class:"btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

<h5>Cancel my account</h5>

<p>Unhappy?</p>
<div class="row">
  <div class="actions col-sm-2 offset-sm-7">
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
  </div>
</div>

