<h5 class="title">Category</h5>


<table class="table table-bordered">
	<thead>
		<tr>
			<td>Name</td>
			<td>Books</td>
			<td >Manage</td>
			<td style="color:red">Delete</td>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |c| %>
			<tr>
				<td><%= c.name %></td>
				<td><%= c.books.count %></td>
				<td>
					<%= button_to [:edit, c], method: "get", class: "btn btn-secondary" do %>
						Manage
					<% end %>
				</td>
				<td>
					<%= button_to c, method: "delete", class: "btn btn-danger" do %>
						Delete
					<% end %>		
				</td>
			</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
				<!--
				<%= form_for Category.new, html: {class: ""} do |f| %>

					<td colspan="2">
					<%= f.text_field :name, class: "form-control" %>
					</td>
					<td colspam="2">
					<%= f.submit class: "btn btn-primary" %>
					</td>
				<% end %>
				-->
				<%= render 'categories/form', category: Category.new %>
		</tr>
	</tfoot>	
</table>


<h5 class="title">Publisher</h5>


<table class="table table-bordered">
	<thead>
		<tr>
			<td>Name</td>
			<td>Books</td>
			<td >Manage</td>
			<td style="color:red">Delete</td>
		</tr>
	</thead>
	<tbody>
		<% @publishers.each do |c| %>
			<tr>
				<td><%= c.name %></td>
				<td><%= c.books.count %></td>
				<td>
					<%= button_to [:edit, c], method: "get", class: "btn btn-secondary" do %>
						Manage
					<% end %>
				</td>
				<td>
					<%= button_to c, method: "delete", class: "btn btn-danger" do %>
						Delete
					<% end %>		
				</td>
			</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<!--
			<%= form_for Publisher.new, html: {class: ""} do |f| %>

				<td colspan="2">
				<%= f.text_field :name, class: "form-control" %>
				</td>
				<td colspam="2">
				<%= f.submit class: "btn btn-primary" %>
				</td>
			<% end %>
			-->
			<%= render 'publishers/form', publisher: Publisher.new %>
		</tr>
	</tfoot>
</table>





