<h5 class="title">Forgot your password?</h5>
<p style="color: rgb(155, 155, 155);">Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>

<h5>Your E-Mail Address</h5>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group row">
    <%= f.label :email, class: "col-sm-3" %><br />
    <%= f.email_field :email, autofocus: true, class: "col-sm-4 form-control"%>
  </div>

  <div class="row">
  	<div class="col-sm-2">
  		<%= link_to "Back", new_session_path(resource_name), class: "btn btn-secondary" %>
    	<%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
