<header>
  <nav class="navbar navbar-toggleable-md navbar-light">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <% if current_page?(root_path) %>active <% end %>">
            <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if user_signed_in? %>

            <% if current_user.admin %>
              <li class="nav-item">
                <a class="nav-link" href="<%= admin_root_path %>">Admin</a>
              </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link" href="<%= user_path(current_user)%>"
              >My books</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="<%= destroy_user_session_path%>" data-method="delete">Sign out</a>
            </li>


          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_user_session_path %>">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_user_registration_path %>">Create an account</a>
            </li>
          <% end %>

          <li class="nav-item">
              <a class="nav-link" href="<%= book_deals_path %>">Book Deal</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="<%= books_path %>">Book</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div id="banner">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="left-side">
            <%= image_tag("logo.png") %>
            BOOK<span style="color: #9b9b9b;">SHARING</span>
          </div>

          <div class="right-side">
            <!--
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
            <%= form_tag book_deals_path, method: :get, class: "form-inline my-2 my-lg-0", role: "search" do %>
              <%= text_field_tag :query, params[:query], class: "form-control mr-sm-2", placeholder: "Search"%>
              <%= submit_tag "Search", name: nil, class: "btn btn-secondary my-2 my-sm-0" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div> 
</header>