<div class="category-list">
	<% Category.all.each do |category| %>
		<button class="btn btn btn-secondary"><%= category.name %></button>
	<% end %>
	<button class="btn btn btn-secondary active">All</button>
</div>

<div class="box-featured">
	<div class="box-header">
		Exchange
	</div>


	<div class="box-content">
		<div class="row">

			<% @deals.each do |deal| %>
				<div class="col-sm-2">
					<div class="box-item">
					  <img class="box-item-img" src="<%= deal.book.image %>" alt="Card image cap">

					  <div class="box-item-title">
					  	<%= link_to truncate(deal.book.name, length: 15), deal %>
					  </div>

					  <div class="box-item-description">
					  	<%=  truncate(deal.description, length: 30)%>
					  </div>

					  <div class="box-item-button">
					  	<%= link_to 'OFFER', offer_path(deal),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#offer-window', class: "btn btn-primary btn-block"}  %>
					  </div>

					</div>
				</div>
			<% end %>
    </div>
	</div>
</div>

<%= will_paginate @deals %>




<div class="modal fade" tabindex="-1" role="dialog" id="offer-window">
  <div class="modal-dialog" role="document">
  </div>
</div>


