<div class="tab-heading">Book's details</div>

<div class="book-info">
  <div class="row">
    <div class="col-sm-4">
      <div class="image">
        <img src="<%= @book_deal.book.image %>"></img>
      </div>
    </div>

    <div class="col-sm-8">
      <h3><%= @book_deal.book.name %></h3>
      <div class="detail">
        Category: <%= @book_deal.book.category.name %><br>
        Publisher: <%= @book_deal.book.publisher.name %><br>
        Condition: <%= @book_deal.condition %><br>
        Edition: <%= @book_deal.edition %><br>
        Status: Avaiable <br>
        Owner: <%= link_to @book_deal.user.username, @book_deal.user %>
      </div>
      <div class="detail">
      <p><%= @book_deal.description %></p>
      </div>

      <%= link_to 'OFFER', offer_path(@book_deal),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#offer-window', class: "btn btn-primary btn"}  %>

      <div class="modal fade" tabindex="-1" role="dialog" id="offer-window">
        <div class="modal-dialog" role="document">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tab-heading">Comment</div>

<div class="comment">
<h4>Your comment</h4>
<%= render 'comments/form', comment: Comment.new %>
</div>