<h5 class="title">Account Login</h5>

<div class="row">
  <div class="col-sm-6">
    <div class="login-box">
      <div class="heading">
        <i class="fa fa-file-text-o"></i>
        <div class="extra-wrap">
          <h4>New user</h4>
          <b>Register Account</b>
        </div>
      </div>
      <div class="content">
        <p>By creating an account you will be able to access all the website funtion.</p>

        <a href="<%= new_user_registration_path %>" class="button-cont-right">Continue <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="login-box">
      <div class="heading">
        <i class="fa fa-key"></i>
        <div class="extra-wrap">
          <h4>Returning User</h4>
          <b>I am a returning user</b>
        </div>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="content">
          <div class="form-group row">
            <lable class="col-sm-2 offset-sm-1 lable-control">Email</lable>
            <div class="col-sm-8">
              <%= f.email_field :email, class: "form-control", autofocus: true %>
            </div>
          </div>

          <div class="form-group row">
            <lable class="col-sm-2 offset-sm-1 lable-control">Password:</lable>
            <div class="col-sm-8">
              <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
            </div>
          </div>

    
        

          <% if devise_mapping.rememberable? -%>
            <div class="row">
              <div class="col offset-sm-3">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            </div>
          <% end -%>
          <div style="display: none;">
          <%= f.submit "Login"%> 
          </div>

          <div class="login-buttons">
            <%= link_to "#", :onclick => "$('#new_user').submit()", class: "button-cont-right" do %>
              Login <i class="fa fa-arrow-circle-right"></i>
            <% end %>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "link-login" %>
            <% end -%>
          </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

