<!DOCTYPE html>
<html>
  <head>
    <title>BookSharing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="page">
  		<%= render 'shared/flash_messages' if !flash.empty? %>
	  	<header>
	  		<%= render 'home/navbar' %>
	  	</header>
	  	<section>
				<div class="container">
	  			<%= yield %>
	  		</div>
	    </section>
	    <footer>
	    	<%= render 'home/footer' %>
	    </footer>
    </div>   
  </body>
</html>

