<!DOCTYPE html>
<html>
  <head>
    <title>BookSharing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<%= render 'home/navbar' %>
  	</header>
  	<section class="container main">
    	<%= yield %>
    </section>
    <footer>
    	<%= render 'home/footer' %>
    </footer>   
  </body>
</html>
